<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>navbar}}
    <div>
        <h2>
            Q. How can I be sure that my cancer will be detected before it has spread?
        </h2>
        While you can’t prevent breast cancer altogether, there are certain things you can do to reduce your risk of
        discovering it at an advanced stage. For example:
        <ul>
            <li>Get routine mammograms. The American Cancer Society recommends having a baseline mammogram at age 35,
                and a
                screening mammogram every year after age 40.</li>
            <li>Examine your breasts every month after age 20. You’ll become familiar with the contours and feel of your
                breasts
                and will be more alert to changes.</li>
            <li> Have your breasts examined by a healthcare provider at least once every three years after age 20, and
                every year
                after age 40. Clinical breast exams can detect lumps that mammograms may not find.</li>
        </ul>

        <h2>What can I expect if I have breast cancer?</h2>
        <div>If you’ve been diagnosed with breast cancer, your healthcare provider will talk with you in detail about
            your treatment options. Treatment and recovery will be different for everyone, so they can tell you what to
            expect in your situation.</div>
        <h2>Is breast cancer fatal?</h2>
        <div>People with early-stage breast cancer often manage their condition successfully with treatment. In fact,
            many people who’ve received a breast cancer diagnosis go on to live long, fulfilling lives. Late-stage
            breast cancer is more difficult to treat, however, and can be fatal.</div>
    </div>
    <h2>What is the survival rate for breast cancer?</h2>
    <div>The overall five-year survival rate for breast cancer is 90%. This means that 90% of people diagnosed with the
        disease are still alive five years later. The five-year survival rate for breast cancer that has spread to
        nearby areas is 86%, while the five-year survival rate for metastatic breast cancer is 28%. Fortunately, the
        survival rates for breast cancer are improving as we learn more about the disease and develop new and better
        approaches to management.
        <br>
        Keep in mind that survival rates are only estimates. They can’t predict the success of treatment or tell you how
        long you’ll live. If you have specific questions about breast cancer survival rates, talk to your healthcare
        provider.
    </div>
    <h2>When should I see my healthcare provider?</h2>
    <div>In addition to having routine checkups and mammograms, you should call your healthcare provider if you notice
        any changes in your breasts.</div>

    <h2>What questions should I ask my healthcare provider?</h2>
    <div>Learning everything you can about your diagnosis can help you make informed decisions about your health. Here
        are some questions you may want to ask your healthcare provider:
        <ul>
            <li>Where is the tumor located?</li>
            <li>Has the tumor spread?</li>
            <li>What stage breast cancer do I have?</li>
            <li>What do the estrogen receptor (ER), progesterone receptor (PR) and HER2 tests show and what do the
                results mean for me?</li>
            <li>What are my treatment options?</li>
            <li>Is breast cancer surgery an option for me?</li>
            <li>Will I be able to work while I undergo treatment?</li>
            <li>How long will my treatment last?</li>
            <li>What other resources are available to me?</li>
        </ul>
    </div>
    <p class="my-4">For more info, please visit here:<a
            href="https://www.cancer.org/cancer/breast-cancer/about/what-is-breast-cancer.html" target="_blank">Breast
            Cancer</a></p>
    <h2>
        Cancer, You Picked The Wrong Girl! She's way stronger than you can even imagine.
    </h2>
</body>

</html>