<!doctype html>
<html lang="en">

<head>
    {{>head}}
    <link rel="stylesheet" href="/assets/css/test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kanit:wght@500&family=Montserrat:wght@500&display=swap"
        rel="stylesheet">

    <style>
        .card {
            cursor: pointer;
        }

        img {
            cursor: pointer;
            background-color: white;
        }

        .sc1::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    </style>
</head>

<body>

    {{>navbar}}
    <div id="showstories">

    </div>

    <section>

        <div class="container py-5 card_testimonial text-center" style="text-overflow:ellipsis;">
            <h3 class="text-center fw-bold text-white">Meet Our Warriors </h3>
            <div class="card-group my-4 text-center py-5" id="testimonials1">

            </div>
        </div>

    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        function displayStory(storyID) {
            $.get('/story/id/' + storyID, (story, status) => {

                $("#showstories").html(`<section class="testimonial-page py-5">

<div class="row"
    style="height: 40vh;background-color: rgb(255, 255, 255);width: 100vw;display: flex;justify-content:center;align-items: center;">
    <div
        style="background-color:#ff0558;height: 90%;width: 90%;border-radius: 1rem;box-shadow: 0.5rem 0.5rem 1rem gray;color: white;">
        <div class="row" id="stories">
            <div class="col-3" style="display: flex;justify-content: center;align-items: center;">
                <img id="storyimage" src="/assets/images/inspire.jpg"
                    style="max-width: 90%;max-height:35vh;display:block;padding: 1rem; border-radius:1rem "
                    alt="">
            </div>
            <div class="col-8">
                <div style="padding: 1rem;">
                    <h3 id="creatorname" style="font-family: 'Dancing Script', cursive;">${story.creator}</h3>
                    <p>${story.age}, ${story.occupation}</p>
                    <hr>
                    <p id="fullstory" class="sc1" style="height:20vh;overflow-y:scroll;">${story.story}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</section>`);
                if (story.imageAddress) {
                    $("#storyimage").attr('src', '/stories/images/' + story.imageAddress);
                }else{
                    $("#storyimage").attr('src', '/assets/images/default-woman.jpeg');
                }

                window.location.href = "#websitename";
            });


        }
        $(document).ready(function () {
            $.get('/stories/list', (data, status) => {
                var lengthOfStories = data.length;
                var i = 0,
                    j = 1;
                ImageAddress = "/assets/images/default-woman.jpeg";

                data.forEach(story => {
                    if (story.imageAddress) {
                        ImageAddress = "/stories/images/" + story.imageAddress;
                    }
                    i++;
                    $("#testimonials" + j).append(`<div id="${story._id}" onclick='displayStory("${story._id}")' class="card mx-3" style="border-radius: 1rem;  height: 25rem;padding:1rem">
                    <img src="${ImageAddress}" class="card-img2" alt="loading..."
                        style="border-radius: 50%;margin:0 auto;">
                    <div class="card-body" style="overflow:hidden">
                        <h5 class="card-title">${story.creator}</h5>
                        <p class="card-text">${story.age}, ${story.occupation}</p>
                        <p class="card-text">${story.story}...</p>
                    </div>
                </div>`);
                    if (i % 3 == 0) {
                        j++;
                        $(".card_testimonial").append(
                            `<div class="card-group my-4 text-center py-5" style="background-color: #cb4c81" id="testimonials${j}"></div>`
                        );
                    }
                });

            });
        });
    </script>


</body>

</html>