<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="test.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>


    <section class="testimonial-page py-5">

        <div class="testimonial col-md-6 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="h-100 p-5 bg-info border rounded-3 testimonial1">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col text-center">
                            <div class="card shadow-lg p-4 mb-5 bg-body rounded" style="width: 17rem;">
                                <img src="inspire.jpg" class="card-img1" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">Mrs. Deepu</h5>
                                </div>
                              </div>
                          
                        </div>
                        <div class="col shadow-lg p-5 mb-5 bg-body rounded rotate">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, adipisci neque, eum ex dolorem voluptatibus optio reiciendis et perferendis eius incidunt ad ducimus rem at? Laboriosam maxime ullam sint sed ab doloribus nisi neque voluptas reiciendis est provident tenetur, perferendis quod minima alias sunt dicta eos quidem enim porro possimus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>


    <div class="container py-5 card_testimonial">
        <h3 class="text-center fw-bold text-black">Meet Our Worriers </h3>

        <div class="card-group my-4 text-center py-5">

            <div class="card mx-3" style="border-radius: 5px;  height: 25rem;">
                <img src="inspire.jpg" class="card-img2" alt="loading..." style="border-radius: 100px;">
                <div class="card-body">
                    <h5 class="card-title">Anne</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional cotent.</p>
                </div>
            </div>

            <div class="card mx-3" style="border-radius: 5px; height: 25rem;">
                <img src="After 1.jpeg" class="card-img2" alt="loading..." style="border-radius: 100px;">
                <div class="card-body">
                    <h5 class="card-title">Cava</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
            </div>

            <div class="card mx-3" style="border-radius: 5px; height: 25rem;">
                <img src="inspire.jpg" class="card-img2" alt="loading..." style="border-radius: 100px;">
                <div class="card-body">
                    <h5 class="card-title">Nivya</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>

            <div class="card mx-3" style="border-radius: 5px; height: 25rem;">
                <img src="After 1.jpeg" class="card-img2" alt="loading..." style="border-radius: 100px;">
                <div class="card-body">
                    <h5 class="card-title">Mrs. James</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>

        </div>

    </div>

    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>