
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BreastCare</title>
    <link rel="stylesheet" href="/assets/css/form.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

{{>navbar}}    
<section class="joining-page py-5">
    <h1 class="text-center fw-bold Inspire_Others">Inspire Others</h1>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 ">
                <div class="join_us-left">
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <div class="row ">
                            <div class="col-md ">
                                <label for="name">Your Name</label>
                                <input name="creator" type="text" class="form-control shadow p-3 mb-5 bg-body rounded" id="name"
                                    required>
                            </div>
                            <div class="col-md">
                                <label for="occupation">Your Occupation or Designation</label>
                                <input type="text" class="form-control shadow p-3 mb-5 bg-body rounded" id="occupation"
                                    name="occupation"  required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md ">
                                <label for="age">Your Age</label>
                                <input type="number" class="form-control shadow p-3 mb-5 bg-body rounded" id="age"
                                    name="age"  required>
                            </div>
                            <div class="col-md ">
                                <label for="img">Upload Your Image </label>
                                <input type="file" class="form-control shadow p-3 mb-5 bg-body rounded" id="img"
                                    name="image" required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md">
                                <label for="about">Write About Your Inspirational Story</label>
                                <textarea class="form-control shadow p-3 mb-5 bg-body rounded" id="about" rows="3"
                                    name="story" required></textarea>
                            </div>
                        </div>
                        
                        <button type="submit" id="btn" class="btn btn-outline-info">Share Your Story</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="join_us-right mt-2">
                    <div class="text ms-4 ">
                        <img src="/assets/images/inspire.jpg" style="border-radius: 1rem;" class="img1" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>

